// -----------------------------------------------------------------------------------------------------
// @ variables
// -----------------------------------------------------------------------------------------------------

// breakpoints
$xs-breakpoint: 600px;
$sm-breakpoint: 960px;
$md-breakpoint: 1280px;
$lg-breakpoint: 1920px;

// snackbars colors
//success
$success-color: #26B965;
$success-color-ligth:#8AC191;
$info-color: #3490DC;
$danger-color: #F35369;
$black-color:#484444

